<form (ngSubmit)="submitData($event) " [formGroup]="forms">
  <!--  -->
  <div class="grid grid-cols-3 gap-4">

    <div class=" grid grid-rows-2  ">
      <label [@showTrigger]="'animate'" *ngIf="cant.valid" for="">Cantidad</label>
      <input class="border hover:border-2 bg-slate-200 invalid-form" type="number" min="0" formControlName="cant"
        placeholder="Cantidad" required />
    </div>
    <div class=" grid grid-rows-2">
      <label [@showTrigger]="'animate'" *ngIf="addressDest.valid" for="">Direccion Destino</label>
      <input class="border hover:border-2 bg-slate-200 invalid-form" type="number" min="0" formControlName="addresDest"
        placeholder="Direccion Destino" required />
    </div>
    <div class=" grid grid-rows-2">
      <label [@showTrigger]="'animate'" *ngIf="cad.valid" for="">Caducidad</label>
      <input class="border hover:border-2 bg-slate-200 invalid-form" type="date" min="0" formControlName="caducidad"
        placeholder="Caducidad" required />
    </div>
  </div>
  <div class="flex justify-end mt-4">

    <input type="submit" class="btn button-blue w-1/6 " value="Aceptar">
  </div>
</form>
<!-- formControlName="city" -->
