/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "oswald_semiBold";
  src: url("./assets/fonts/oswald/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "cascadia_code_regular";
  src: url("./assets/fonts/cascadia_code/CascadiaCode.ttf");
}
@layer base{
  html {
    font-family: "cascadia_code_regular";
  }


}
@layer components{
  .btn{
    @apply  rounded-lg flex justify-center before:border
  }
  .button-blue{
    @apply  bg-blue-200 hover:bg-blue-500 hover:text-white   pl-2 w-full
  }
  .invalid-form{
    @apply  invalid:border-red-400 invalid:border-2 invalid:bg-red-200
  }
  .card{
    @apply border-2 rounded-lg border-solid  py-10 h-full   lg:shadow-2xl
  }
}
