<button class="mb-2 btn button-blue   flex justify-center " (click)="drop=!drop">
  <p>

    Mostrar Transacciones
  </p>
  <div class="justify-self-end">

    <svg *ngIf="!drop" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
    </svg>
    <svg *ngIf="drop" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>

  </div>

</button>
<ng-container *ngIf="data &&drop ">

  <ng-container *ngIf="data.length>0;else empty">

    <p-table [@showTrigger]="'animate'" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [value]="data"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="seleccionar">Seleccionar</th>
          <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="cantidad">cantidad<p-sortIcon field="cantidad"></p-sortIcon>
          </th>
          <th pSortableColumn="addressDestino">address Destino<p-sortIcon field="addressDestino"></p-sortIcon>
          </th>
          <th pSortableColumn="addressOrigen">address Origen<p-sortIcon field="addressOrigen"></p-sortIcon>
          </th>
          <th pSortableColumn="caducidad">caducidad<p-sortIcon field="caducidad"></p-sortIcon>
          </th>
          <th pSortableColumn="timestamp">timestamp<p-sortIcon field="timestamp"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="align-middle !text-center " *ngIf="seleccionar">
            <input type="checkbox" (click)="checked(product)" />
          </td>
          <td class="align-middle 	">{{product.id}}</td>
          <td class="align-middle	!text-center">{{product.cantidad}}</td>
          <td class="align-middle	!text-center">{{product.addressDestino}}</td>
          <td class="align-middle	!text-center">{{product.addressOrigen}}</td>
          <td class="align-middle	!text-center">
            <app-date-swap [elemento]="product.caducidad"></app-date-swap>
          </td>
          <td class="align-middle	">
            <app-date-swap [elemento]="product.timestamp"></app-date-swap>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="w-full flex justify-end">

      <button class="btn button-blue w-auto px-2  mt-2" *ngIf="seleccionar"
        (click)="enviarTransaccionesSeleccionadas()">
        Enviar Seleccion Mineria
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-template #empty>
  <app-empty-table></app-empty-table>
</ng-template>
