<button class="mb-2 bg-blue-200 border rounded-lg hover:bg-blue-500 hover:text-white pl-2 w-full flex justify-center "
  (click)="drop=!drop">
  <p>

    Mostrar Transacciones
  </p>
  <div class="justify-self-end">

    <svg *ngIf="!drop" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
    </svg>
    <svg *ngIf="drop" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>

  </div>

</button>
<ng-container *ngIf="data&&drop">

  <p-table [@showTrigger]="'animate'" [paginator]="true" [rows]="10" styleClass="p-datatable-striped" [value]="data"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">id</th>
        <th pSortableColumn="cantidad">cantidad</th>
        <th pSortableColumn="address Destino">address Destino</th>
        <th pSortableColumn="address Origen">address Origen</th>
        <th pSortableColumn="caducidad">caducidad</th>
        <th pSortableColumn="timestamp">timestamp</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td class="align-middle	">{{product.id}}</td>
        <td class="align-middle	">{{product.cantidad}}</td>
        <td class="align-middle	">{{product.addressDestino}}</td>
        <td class="align-middle	">{{product.addressOrigen}}</td>
        <td class="align-middle	">
          <ng-container *ngIf="desactiveDatePipeCaducidad;else date">
            {{product.caducidad|datePipe }}
          </ng-container>

          <ng-template #date>
            {{product.caducidad }}
          </ng-template>
          <button (click)="desactiveDatePipeCaducidad=!desactiveDatePipeCaducidad">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </button>
        </td>
        <td class="align-middle	">
          <ng-container *ngIf="desactiveDatePipeTimeStamp;else date">
            {{product.timestamp|datePipe }}
          </ng-container>

          <ng-template #date>
            {{product.timestamp }}
          </ng-template>
          <button (click)="desactiveDatePipeTimeStamp=!desactiveDatePipeTimeStamp">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </button>


        </td>
      </tr>

    </ng-template>
  </p-table>

</ng-container>
